* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #eee5dabd;
    color: #111;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.barra-img {
    margin-left: 150px;
}

.barra-link {
    margin-right: 150px;
}

.nav-link {
    color: #7c7563;
}

.hero {
    height: 100px;
    background-color: #eee5da;
}

.logo {
    max-width: 140px;
    margin-bottom: 1rem;
}

.btn,
.btn-small {
    display: inline-block;
    background-color: #7c7563;
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    font-weight: 500;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover,
.btn-small:hover {
    background-color: #444;
}

.about,
.contact {
    padding: 3rem 1rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact a{
    margin-bottom: 1rem;
}

.nosotros {
    padding: 3rem 1rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20%;
}

.about h2 {
    font-size: 3rem;
}

.about a {
    width: 300px;
    align-self: center;
}



.products {
    padding: 3rem 1rem;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.product-card {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 12px;
    width: 300px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.product-card:hover {
    transform: translateY(-4px);
}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.product-card ul {
    list-style: none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    font-size: 0.9rem;
    color: #777;
    background-color: #eee5da;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .barra-img {
        margin-left: 0;
    }

    .barra-link {
        margin-right: 0;
    }

    .about {
        height: 100dvh;
        justify-content: center;
        padding-bottom: 50%;
    }
}